@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #f2f4f6;
  --foreground: #171717;
  --spacing-max-width: 500px;
  --spacing-side: 16px;
  --spacing-header: 70px;
  --spacing-footer: 72px;
  --blue-001: #e8f2ff;
  --blue-002: #8cc5fd;
  --blue-003: #2e96fd;
  --blue-004: #0064ff;
  --red-001: #ffdadd;
  --red-002: #ffa2aa;
  --red-003: #fb6f7a;
  --red-004: #ff3747;
  --white: #ffffff;
  --gray-002: #f2f4f6;
  --gray-003: #d1d6db;
  --gray-004: #6b7684;
  --gray-005: #4e5968;
  --gray-006: #333d4b;
  --gray-007: #212631;
  --gray-008: #191f28;
  --positive: #11d888;
  --negative: #ff5f4e;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --line-height-13: 18px;
  --line-height-14: 19px;
  --line-height-15: 20px;
  --line-height-16: 21px;
  --line-height-18: 23px;
  --line-height-20: 25px;
  --line-height-22: 27px;
}

@theme inline {
  --spacing-max-width: var(--spacing-max-width);
  --spacing-side: var(--spacing-side);
  --spacing-header: var(--spacing-header);
  --spacing-footer: var(--spacing-footer);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-001: var(--blue-001);
  --color-blue-002: var(--blue-002);
  --color-blue-003: var(--blue-003);
  --color-blue-004: var(--blue-004);
  --color-red-001: var(--red-001);
  --color-red-002: var(--red-002);
  --color-red-003: var(--red-003);
  --color-red-004: var(--red-004);
  --color-white: var(--white);
  --color-gray-002: var(--gray-002);
  --color-gray-003: var(--gray-003);
  --color-gray-004: var(--gray-004);
  --color-gray-005: var(--gray-005);
  --color-gray-006: var(--gray-006);
  --color-gray-007: var(--gray-007);
  --color-gray-008: var(--gray-008);
  --color-positive: var(--positive);
  --color-negative: var(--negative);
  --font-regular: var(--font-regular);
  --font-medium: var(--font-medium);
  --font-semibold: var(--font-semibold);
  --font-bold: var(--font-bold);
}

@layer {
  .font-regular-12 {
    font-size: 12px;
    font-weight: var(--font-regular);
    line-height: var(--line-height-12);
  }

  .font-regular-13 {
    font-size: 13px;
    font-weight: var(--font-regular);
    line-height: var(--line-height-13);
  }

  .font-regular-14 {
    font-size: 14px;
    font-weight: var(--font-regular);
    line-height: var(--line-height-14);
  }

  .font-regular-15 {
    font-size: 15px;
    font-weight: var(--font-regular);
    line-height: var(--line-height-15);
  }

  .font-regular-16 {
    font-size: 16px;
    font-weight: var(--font-regular);
    line-height: var(--line-height-16);
  }

  .font-regular-18 {
    font-size: 18px;
    font-weight: var(--font-regular);
    line-height: var(--line-height-18);
  }

  .font-medium-13 {
    font-size: 13px;
    font-weight: var(--font-medium);
    line-height: var(--line-height-13);
  }

  .font-medium-14 {
    font-size: 14px;
    font-weight: var(--font-medium);
    line-height: var(--line-height-14);
  }

  .font-medium-15 {
    font-size: 15px;
    font-weight: var(--font-medium);
    line-height: var(--line-height-15);
  }

  .font-medium-16 {
    font-size: 16px;
    font-weight: var(--font-medium);
    line-height: var(--line-height-16);
  }

  .font-medium-18 {
    font-size: 18px;
    font-weight: var(--font-medium);
    line-height: var(--line-height-18);
  }

  .font-semibold-13 {
    font-size: 13px;
    font-weight: var(--font-semibold);
    line-height: var(--line-height-13);
  }

  .font-semibold-14 {
    font-size: 14px;
    font-weight: var(--font-semibold);
    line-height: var(--line-height-14);
  }

  .font-semibold-15 {
    font-size: 15px;
    font-weight: var(--font-semibold);
    line-height: var(--line-height-15);
  }

  .font-semibold-16 {
    font-size: 16px;
    font-weight: var(--font-semibold);
    line-height: var(--line-height-16);
  }

  .font-semibold-18 {
    font-size: 18px;
    font-weight: var(--font-semibold);
    line-height: var(--line-height-18);
  }

  .font-semibold-20 {
    font-size: 20px;
    font-weight: var(--font-semibold);
    line-height: var(--line-height-20);
  }

  .font-bold-20 {
    font-size: 20px;
    font-weight: var(--font-bold);
    line-height: var(--line-height-20);
  }

  .font-bold-22 {
    font-size: 22px;
    font-weight: var(--font-bold);
    line-height: var(--line-height-22);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "Pretendard",
    Pretendard Variable,
    Arial,
    Helvetica,
    sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
